@model GetMaxSum.Controllers.GetMaxModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Create">
         <div class="row col-lg-3">
             <h2>Object number</h2>
         </div>
        
        <div class="form-group row"> 
            <input type="number" class="form-control col-lg-3" value="@Model.ObjectNumber" name="GetMaxModel.ObjectNumber"/>
            <span class="col-lg-2">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </span>
        </div>
    </form>
    @{
        if (@Model.ObjectNumber > 0)
        {
            <form asp-action="GetMax">
                <input type="hidden" value="@Model.ObjectNumber" name="GetMaxModel.ObjectNumber"/>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <h2>Objects</h2>
                        <div class="object-container">
                            @for (int i = 0; i < Model.ObjectNumber; i++)
                            {
                                <div>
                                    <label>
                                        Objet @(i +1)
                                        @if (@Model.ObjectValues != null && @Model.ObjectValues[i] != i)
                                        {
                                            <input type="number" class="form-control" value="@Model.ObjectValues[i]" name="GetMaxModel.ObjectValues[@i]"/>
                                        }
                                        else
                                        {
                                            <input type="number" class="form-control" value="@(i+1)" name="GetMaxModel.ObjectValues[@i]"/>
                                        }
                                        
                                    </label>
                                    
                                </div>
                                
                            }
                        </div>
                        
                    </div>
                    
                </div>
                 <div class="form-group row">
                      <div class="col-lg-3">
                          <input type="submit" value="Get Max Sum" class="btn btn-primary" class="ml-auto"/>
                      </div>
                 </div>
            </form>
        }
        if (@Model.IsResult)
        {
             <form asp-action="Index">
                <input type="hidden" value="0" name="GetMaxModel.ObjectNumber"/>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <h2>Result</h2>
                        <h3>@Model.BestChoice</h3>
                        <div class="result-container">
                            @Model.ResultString
                        </div>
                    </div>
                    
                </div>
                 <div class="form-group row">
                      <div class="col-lg-3">
                          <input type="submit" value="Clear" class="btn btn-primary" class="ml-auto"/>
                      </div>
                 </div>
            </form>
        }
    }
    
</div>
